/* Inserta tu CSS aqui */
.blue {
	width: 400px;
	height: 400px;
	background: blue;
	position: relative;
	margin-top: 0px;
}
.green {
	width: 200px;
	height: 200px;
	background: green;
	position: relative;
	left: 100px;
	top: 100px;
}
.black {
	width: 100px;
	height: 100px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}